body{
    background: #f2f2f2;
    line-height: 1;
}
.content{
    border: 1px solid #ddd ;
    
    width: 300px;
    height: 300px;
    overflow: auto;
    border-radius: 3px;
    background: darkslategrey;
}
h1{
    text-align: center;
    color: 01df3a;
    font-family: cursive;
}
.content p{
    padding: 1em;
    margin: 1em;
    background: #e6e6e6;
    margin-top: 20px; 
   
    padding: 1em;
    font-size:15px; 
    border: 1px solid #bdbdbd;
    border-radius: 4px;
 
}
.messg{
    margin;1em 0  0 0;
}
.messg textarea{
    border: none;
    padding:6px;
    text-decoration: none;
}
 .btn{
margin: 1em;
    border:1px solid black;
     border-radius: 5px;
     padding: 4px;
     background-color: darkslategrey;
     color: silver;
}
button{
    cursor: pointer;
}
.type{
    padding-top: 20px;
}
.h1{
    border: 1px solid #ddd;
    
}
.head{
    padding-bottom: 5px;
}